@tailwind base;
@tailwind components;
@tailwind utilities;

/* Alpie */
[x-cloak] {
    display: none !important;
}

body {
    margin: 0;
    padding: 0;
}

a {
    display: block;
    width: max-content;
}

textarea:focus,
input:focus {
    outline: none;
}

.marquee-tailwind {
    animation: marquee 60s linear infinite;
}

.marquee-tailwind-2 {
    animation: marquee2 70s linear infinite;
}

.marquee-tailwind:hover,
.marquee-tailwind-2:hover {
    animation-play-state: paused;
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes marquee2 {
    0% {
        transform: translateX(-130%);
    }
    100% {
        transform: translateX(100%);
    }
}
